body{
    margin-top: 65px;
    background-color: #DBE3E2;
}
.banner{
    background-image: url('../images/white_background.png');
    background-position: center;
    padding: 10%;
}
.thumbnail{
    min-height: 550px;
}